
/*********	rutas	*********/
.disableddiv {
  	pointer-events: none;
 	opacity: 0.4;
}

.rt_lst_error{
	background-image:none !important;
	border-bottom:1px solid #ff0000 !important;
	width: 95% !important;
}
.rt_lst_error_a {
    color: #ff0000;
}

.rt_lst_success{
	background-image:none !important;
	border-bottom:1px solid #ccc !important;
	width: 95% !important;
}
.rt_lst_success_a {
    color: #4FB933;
}
::-webkit-scrollbar {
      width: 15px;
}