.product-filters {
  float: right !important;
}

.product-filters > li > a {
  width: 80px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  color: #76838f;
}

.product-filters > li > a:hover {
  color: #76838f;
}

#productOverviewWidget .btn-sale {
  text-transform: uppercase;
  color: #37474f;
}

#productOverviewWidget .dropdown-menu {
  text-transform: capitalize;
}

#productOverviewWidget .ct-grids .ct-vertical {
  stroke-dasharray: 6;
}

#productOverviewWidget .ct-grids .ct-horizontal {
  stroke: none;
}

#productOverviewWidget .ct-grids .ct-point-label {
  stroke: #fff;
  stroke-width: 60px;
}

#productOverviewWidget .ct-labels .ct-horizontal {
  display: block;
  padding-top: 10px;
  font-size: 14px;
  color: #76838f;
}

#productOverviewWidget .ct-area {
  fill-opacity: .8;
}

#productOverviewWidget .ct-series .ct-point, #productOverviewWidget .ct-series .ct-point-content {
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#productOverviewWidget .ct-series:hover .ct-point, #productOverviewWidget .ct-series:hover .ct-point-content {
  opacity: 1;
}

#productOverviewWidget .ct-series.ct-series-a .ct-area {
  fill: #a58add;
}

#productOverviewWidget .ct-series.ct-series-a .ct-line {
  stroke: #a58add;
  stroke-width: 1px;
}

#productOverviewWidget .ct-series.ct-series-a .ct-point {
  stroke: #926dde;
  stroke-width: 12px;
  cursor: pointer;
}

#productOverviewWidget .ct-series.ct-series-a .ct-point-content {
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  pointer-events: none;
}

#productOverviewWidget .ct-series.ct-series-b .ct-area {
  fill: #77d6e1;
}

#productOverviewWidget .ct-series.ct-series-b .ct-line {
  stroke: #77d6e1;
  stroke-width: 1px;
}

#productOverviewWidget .ct-series.ct-series-b .ct-point {
  stroke: #57c7d4;
  stroke-width: 12px;
  cursor: pointer;
}

#productOverviewWidget .ct-series.ct-series-b .ct-point-content {
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  pointer-events: none;
}

#productOverviewWidget .nav-pills .nav-link {
  padding: 10px 15px;
  border-radius: 1000px;
}

#productOptionsData {
  padding: 80px 30px 30px;
}

#productOptionsData .counter-number-group {
  font-size: 36px;
}

#productOptionsData .ct-chart {
  height: 60px;
  width: 200px;
  margin: 10px auto;
}

#productOptionsData .ct-chart .ct-series-a .ct-bar {
  stroke-width: 4px;
}

#productOptionsData .ct-chart .ct-series-b .ct-bar {
  stroke-width: 4px;
}

#productOptionsData .ct-chart[data-counter-type="productVist"] .ct-series-a .ct-bar {
  stroke: #a58add;
}

#productOptionsData .ct-chart[data-counter-type="productVist"] .ct-series-b .ct-bar {
  stroke: #77d6e1;
}

#productOptionsData .ct-chart[data-counter-type="productVistors"] .ct-series-a .ct-bar {
  stroke: #f978a6;
}

#productOptionsData .ct-chart[data-counter-type="productVistors"] .ct-series-b .ct-bar {
  stroke: #8897ec;
}

#productOptionsData .ct-chart[data-counter-type="productPageViews"] .ct-series-a .ct-bar {
  stroke: #5cc99a;
}

#productOptionsData .ct-chart[data-counter-type="productPageViews"] .ct-series-b .ct-bar {
  stroke: #f7e083;
}

#productOptionsData .ct-chart[data-counter-type="productBounceRate"] .ct-series-a .ct-bar {
  stroke: #89bceb;
}

#productOptionsData .ct-chart[data-counter-type="productBounceRate"] .ct-series-b .ct-bar {
  stroke: #f2a654;
}

#browsersFlowWidget {
  height: 100%;
  margin-bottom: 0 !important;
}

#browsersFlowWidget .card-block {
  padding: 0 15px;
}

#browsersFlowWidget .card-block:after {
  content: "";
  display: block;
  clear: both;
}

#countriesVistsWidget {
  margin-bottom: 0 !important;
}

#countriesVistsWidget .card-block {
  padding-bottom: 15px;
}

#countriesVistsWidget img {
  width: auto;
}

#countriesVistsWidget .table-responsive {
  border: 0 none;
}

.table-analytics > thead > tr > th {
  padding: 15px 0;
  vertical-align: middle;
  color: #37474f;
}

.table-analytics > tbody > tr > td {
  vertical-align: middle;
}

#browsersFlowWidget tr:nth-of-type(even) {
  background-color: #fafafa;
}

#browsersFlowWidget td {
  padding: 20px 0;
}

#weekStackedBarChart {
  position: relative;
  max-width: 350px;
  height: 180px;
  margin: 24px auto 0;
}

#weekStackedBarChart .ct-chart-bar .ct-labels .ct-horizontal {
  display: block;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #76838f;
}

#weekStackedBarChart .ct-chart-bar .ct-labels .ct-vertical {
  display: none;
}

#weekStackedBarChart .ct-chart-bar .ct-grids .ct-grid {
  stroke: none;
}

#weekStackedBarChart .ct-chart-bar .ct-series-a .ct-bar {
  stroke: #4FB933;
}

#weekStackedBarChart .ct-chart-bar .ct-series-b .ct-bar {
  stroke: #f3f7f9;
}

#browersVistsDonut {
  position: relative;
  height: 250px;
  margin: 0 auto;
}

#browersVistsDonut svg path[fill="none"] {
  opacity: 0 !important;
}

#countriesVistsWidget td {
  padding: 20px 0;
}

#countriesVistsWidget td:last-child {
  font-size: 0;
}

#countriesVistsWidget .language {
  min-width: 150px;
}

#countriesVistsWidget .vists {
  min-width: 65px;
}

#countriesVistsWidget .vists-percent {
  min-width: 210px;
}

#countriesVistsWidget .progress {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

#countriesVistsWidget .country-name {
  margin-left: 20px;
}

#countriesVistsWidget .progress-percent {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  color: #76838f;
}

@media screen and (max-width: 1400px) {
  #browsersFlowWidget {
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .col-lg-7 {
    width: 100%;
  }
  .col-lg-5 {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  #productOptionsData {
    padding-bottom: 20px;
  }
  #productOptionsData .counter {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  #productOptionsData .col-xs-12 {
    width: 50%;
  }
}

@media screen and (min-width: 480px) and (max-width: 567px) {
  #productOptionsData .ct-chart {
    width: 250px;
  }
}

@media (max-width: 479px) {
  .product-filters {
    float: none !important;
    padding: 10px 15px;
  }
  .product-filters > li > a {
    width: 50px;
    height: 30px;
    padding: 5px 8px;
    border-radius: 15px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #76838f;
  }
  #productOverviewWidget .nav-pills .nav-link {
    padding: 5px 8px;
  }
  #productOverviewWidget .card-header-actions {
    float: none;
    margin: 10px 0;
  }
}

@media (max-width: 479px) {
  #productOptionsData .ct-chart {
    width: 200px;
  }
}

@media screen and (max-width: 360px) {
  #productOptionsData .ct-chart {
    width: 160px;
  }
  #productOverviewWidget .nav-pills .nav-link {
    width: 44px;
    padding: 5px 6px;
    margin-right: 3px;
    margin-left: 3px;
  }
}
