$use-font-family:      "Noto Sans";
$font-family-base:     $font-family-sans-serif;

$font-weight-override: false;
$font-weight-base:     $font-weight-normal;
$headings-font-weight: $font-weight-normal;
