.page-content .input-search {
  max-width: 450px;
  margin: 35px auto 32px;
}

.asRange {
  display: inline-block;
  width: 120px;
  margin: 3px 10px;
}

.rangeUi-bar {
  background-color: rgba(67, 77, 83, .15);
}

.rangeUi-selected, .rangeUi-pointer {
  background-color: #37474f;
}

.rangeUi-pointer {
  top: -5px;
  width: 14px;
  height: 14px;
}

.panel-body .row {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icondemo-wrap {
  position: relative;
  height: 100px;
  margin: 18px 0;
  text-align: center;
}

.icondemo-wrap:hover {
  color: #fff;
  background-color: #57c7d4;
}

.icondemo .icon {
  font-size: 24px;
}

.icon-title {
  margin-top: 2px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.is-hide {
  display: none;
}
