---
title: Dashboard Team
body_class: dashboard
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="{{global}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="{{global}}/vendor/aspieprogress/asPieProgress.css">
    <link rel="stylesheet" href="{{global}}/vendor/jquery-selective/jquery-selective.css">
    <link rel="stylesheet" href="{{global}}/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{global}}/vendor/asscrollable/asScrollable.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/dashboard/team.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/chartist/chartist.js"></script>
    <script src="{{global}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
    <script src="{{global}}/vendor/aspieprogress/jquery-asPieProgress.js"></script>
    <script src="{{global}}/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="{{global}}/vendor/jquery-selective/jquery-selective.min.js"></script>
    <script src="{{global}}/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/matchheight.js"></script>
    <script src="{{global}}/js/Plugin/aspieprogress.js"></script>
    <script src="{{global}}/js/Plugin/bootstrap-datepicker.js"></script>
    <script src="{{global}}/js/Plugin/asscrollable.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/dashboard/team.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
          <!-- First Row -->
          <!-- Completed Options Pie Widgets -->
          <div class="col-xxl-3">
            <div class="row h-full" data-plugin="matchHeight">
              <div class="col-xxl-12 col-lg-4 col-sm-4">
                <div class="card card-shadow card-completed-options">
                  <div class="card-block p-30">
                    <div class="row">
                      <div class="col-6">
                        <div class="counter text-left blue-grey-700">
                          <div class="counter-label mt-10">Tasks Completed
                          </div>
                          <div class="counter-number font-size-40 mt-10">
                            1,234
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                          data-barcolor="#57c7d4" data-size="100" data-barsize="10"
                          data-goal="86" aria-valuenow="86" role="progressbar">
                          <span class="pie-progress-number blue-grey-700 font-size-20">
                            86%
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-12 col-lg-4 col-sm-4">
                <div class="card card-shadow card-completed-options">
                  <div class="card-block p-30">
                    <div class="row">
                      <div class="col-6">
                        <div class="counter text-left blue-grey-700">
                          <div class="counter-label mt-10">Points Completed
                          </div>
                          <div class="counter-number font-size-40 mt-10">
                            698
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                          data-barcolor="#57c7d4" data-size="100" data-barsize="10"
                          data-goal="62" aria-valuenow="62" role="progressbar">
                          <span class="pie-progress-number blue-grey-700 font-size-20">
                            62%
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-12 col-lg-4 col-sm-4">
                <div class="card card-shadow card-completed-options">
                  <div class="card-block p-30">
                    <div class="row">
                      <div class="col-6">
                        <div class="counter text-left blue-grey-700">
                          <div class="counter-label mt-10">Cards Completed
                          </div>
                          <div class="counter-number font-size-40 mt-10">
                            1,358
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                          data-barcolor="#926dde" data-size="100" data-barsize="10"
                          data-goal="56" aria-valuenow="56" role="progressbar">
                          <span class="pie-progress-number blue-grey-700 font-size-20">
                            56%
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Completed Options Pie Widgets -->
          <!-- Team Total Completed -->
          <div class="col-xxl-9">
            <div id="teamCompletedWidget" class="card card-shadow example-responsive">
              <div class="card-block p-20 pb-25">
                <div class="row pb-40" data-plugin="matchHeight">
                  <div class="col-md-6">
                    <div class="counter text-left pl-10">
                      <div class="counter-label">Team Total Completed</div>
                      <div class="counter-number-group text-truncate">
                        <span>1,439</span>
                        <span>86%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-inline mr-50">
                      <li class="list-inline-item">
                        Task Completed
                      </li>
                      <li class="list-inline-item">
                        Cards Completed
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="ct-chart"></div>
              </div>
            </div>
          </div>
          <!-- End Team Total Completed -->
          <!-- End First Row -->
          <!-- Second Row -->
          <!-- Personal -->
          <div class="col-xxl-4 col-xl-6 col-lg-6">
            <div id="personalCompletedWidget" class="card card-shadow pb-20">
              <div class="card-header card-header-transparent cover overlay">
                <img class="cover-image" src="{{global}}/photos/placeholder.png">
                <div class="overlay-panel overlay-background vertical-align">
                  <div class="vertical-align-middle">
                    <a class="avatar" href="javascript:void(0)">
                      <img alt="" src="{{global}}/portraits/4.jpg">
                    </a>
                    <div class="font-size-20 mt-10">MACHI</div>
                    <div class="font-size-14">machidesign@163.com</div>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div class="row text-center mb-20">
                  <div class="col-6">
                    <div class="counter">
                      <div class="counter-label total-completed">TOTAL COMPLETED</div>
                      <div class="counter-number red-600">1,628</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="counter">
                      <div class="counter-label">TOTAL TIME</div>
                      <div class="counter-number blue-600">17</div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <caption>TODAY STATISTIC</caption>
                    <tbody>
                      <tr>
                        <td>
                          Tasks Completed
                        </td>
                        <td>
                          <div class="progress progress-xs mb-0">
                            <div class="progress-bar progress-bar-info bg-blue-600" role="progressbar" aria-valuenow="90"
                              aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            </div>
                          </div>
                        </td>
                        <td>
                          90%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Cards Completed
                        </td>
                        <td>
                          <div class="progress progress-xs mb-0">
                            <div class="progress-bar progress-bar-info bg-green-600" role="progressbar" aria-valuenow="86"
                              aria-valuemin="0" aria-valuemax="100" style="width: 86%">
                            </div>
                          </div>
                        </td>
                        <td>
                          86%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Points Completed
                        </td>
                        <td>
                          <div class="progress progress-xs mb-0">
                            <div class="progress-bar progress-bar-info bg-red-600" role="progressbar" aria-valuenow="68"
                              aria-valuemin="0" aria-valuemax="100" style="width: 68%">
                            </div>
                          </div>
                        </td>
                        <td>
                          68%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End Personal -->
          <!-- To Do List -->
          <div class="col-xxl-4 col-xl-6 col-lg-6">
            <div id="toDoListWidget" class="card card-shadow card-lg pb-20">
              <div class="card-header card-header-transparent">
                <div class="card-header-actions">
                  <a id="addNewItemBtn" href="javascript:void(0)" class="add-item-toggle">
                    <i class="icon wb-plus" aria-hidden="true"></i>
                  </a>
                </div>
                <h5 class="card-title">TO DO LIST</h5>
              </div>
              <ul class="list-group h-500" data-plugin="scrollable">
                <div data-role="container">
                  <div data-role="content">
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox" checked="checked">
                        <label class="item-title">Edit meeting record</label>
                      </div>
                      <div class="item-due-date">
                        <span>Tue,aug 25</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/3.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox" checked="checked">
                        <label class="item-title">Upload Photos and Video</label>
                      </div>
                      <div class="item-due-date">
                        <span>Tue,aug 25</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/1.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/5.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/4.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/6.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/7.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox" checked="checked">
                        <label class="item-title">Edit meeting record</label>
                      </div>
                      <div class="item-due-date">
                        <span>Tue,aug 25</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/3.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox" checked="checked">
                        <label class="item-title">Upload Photos and Video</label>
                      </div>
                      <div class="item-due-date">
                        <span>Tue,aug 25</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/1.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/5.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <div class="checkbox-custom checkbox-success checkbox-lg">
                        <input type="checkbox" name="checkbox">
                        <label class="item-title">Edit the blog system</label>
                      </div>
                      <div class="item-due-date">
                        <span>No due date</span>
                      </div>
                      <ul class="item-members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/4.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/6.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/7.jpg">
                          <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                          </button>
                        </li>
                      </ul>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <!-- End To Do List -->
          <!-- Recent Activity -->
          <div class="col-xxl-4">
            <div id="recentActivityWidget" class="card card-shadow card-lg pb-20">
              <div class="card-header card-header-transparent pb-10">
                <div class="card-header-actions">
                  <span class="badge badge-default badge-round">VIEW ALL</span>
                </div>
                <h5 class="card-title">
                  RECENT ACTIVITY
                </h5>
              </div>
              <ul class="timeline timeline-icon">
                <li class="timeline-reverse timeline-item">
                  <div class="timeline-content-wrap">
                    <div class="timeline-dot bg-green-600">
                      <i class="icon wb-chat" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-content">
                      <div class="title">
                        <span class="authors">Victor Erixon</span> assigned to a task
                      </div>
                      <div class="metas">
                        active 14 minutes ago
                      </div>
                      <ul class="members">
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/7.jpg">
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/6.jpg">
                        </li>
                        <li>
                          <img class="avatar avatar-sm" src="{{global}}/portraits/8.jpg">
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="timeline-reverse timeline-item">
                  <div class="timeline-content-wrap">
                    <div class="timeline-dot bg-blue-600">
                      <i class="icon wb-image" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-content">
                      <div class="title">
                        <span class="authors">Alex Bender</span>uploaded 3 photos
                      </div>
                      <div class="metas">
                        active 2 hours ago
                      </div>
                      <ul class="photos">
                        <li class="cover">
                          <img class="cover-image" src="{{global}}/photos/placeholder.png">
                        </li>
                        <li class="cover">
                          <img class="cover-image" src="{{global}}/photos/placeholder.png">
                        </li>
                        <li class="cover">
                          <img class="cover-image" src="{{global}}/photos/placeholder.png">
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="timeline-reverse timeline-item">
                  <div class="timeline-content-wrap">
                    <div class="timeline-dot bg-cyan-600">
                      <i class="icon wb-file" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-content">
                      <div class="title">
                        <span class="authors">Jeff Erixon</span>
                        invite you to attend topic discussion in
                        <span class="room-number">B205</span>
                        classroom
                      </div>
                      <div class="metas">
                        active 4 hours ago
                      </div>
                      <div class="tags">
                        As user experience designers we have to find the sweet spot
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-reverse timeline-item">
                  <div class="timeline-content-wrap">
                    <div class="timeline-dot bg-orange-600">
                      <i class="icon wb-map" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-content">
                      <div class="title">
                        <span class="authors">Jeff Erixon</span>
                        invite you to attend topic discussion in
                        <span class="room-number">B205</span>
                        classroom
                      </div>
                      <div class="metas">
                        active 3 hours ago
                      </div>
                      <ul class="operates">
                        <li>
                          <button class="btn btn-outline btn-success btn-round">Accept</button>
                        </li>
                        <li>
                          <button class="btn btn-outline btn-danger btn-round">Refuse</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Recent Activity -->
          <!-- End Second Row -->
        </div>
      </div>
    </div>
    <!-- End Page -->

    <!-- Add Item Dialog -->
    <div id="addtodoItemForm" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addtodoItemForm"
      aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content form-horizontal" role="form" action="#" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="moadl-title">Create New To Do Item</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="title">Title:</label>
              <div class="col-sm-10">
                <input id="title" class="form-control" type="text" name="title" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="dueDate">Due Date</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input id="dueDate" class="form-control" type="text" data-plugin="datepicker" data-container="#addtodoItemForm"
                  />
                  <span class="input-group-addon">
                    <i class="icon wb-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="people">People:</label>
              <div class="col-sm-10">
                <select id="people" multiple="multiple" class="plugin-selective">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-actions">
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                Add This Item
              </button>
              <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">
            Cancel
          </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Add Item Dialog -->

    <!-- Edit Dialog -->
    <div class="modal fade" id="edittodoItemForm" aria-hidden="true" aria-labelledby="edittodoItemForm"
      role="dialog" tabindex="-1" data-show="false">
      <div class="modal-dialog">
        <form class="modal-content form-horizontal" action="#" method="post" role="form">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
            <h4 class="modal-title">Edit To Do Item</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="editTitle">Title:
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="editTitle" name="editTitle">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="editStarts">Due Date:
              </label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" class="form-control" id="editDueDate" name="editDueDate" data-container="#edittodoItemForm"
                    data-plugin="datepicker">
                  <span class="input-group-addon">
                    <i class="icon wb-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="editPeople">People:
              </label>
              <div class="col-sm-10">
                <select id="editPeople" multiple="multiple" class="plugin-selective"></select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-actions">
              <button class="btn btn-primary" data-dismiss="modal" type="button">Save</button>
              <button class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
              <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Edit Dialog -->

  {{/content}}
{{/extend}}